{% layout 'layout' %}
{% block content %}
<h1>{{ pageTitle }}</h1>

<h2>Code, Arts, Photography, everything that interests me.</h2>

{% for post in collections.blog reversed %}
  <section>
    <div class="title">
      <h3>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <span class="date">{{ post.date | postDate }}</span>
    </div>
    <div>
      {{ post.content }}
    </div>
  </section>
{% endfor %}

{% endblock %}
