{% layout "layout" %}
{% block "content" %}
      <h1>{{ pageTitle }}</h1>

      <div class="title">
        <h3>{{ title }}</h3>
        <span class="date">{{ page.date | postDate }}</span>
      </div>

      <div>
        {{ content }}
      </div>
    </div>
    <div class="goBack">
      <a href="/blog">← go back</a>
    </div>

{% endblock %}

{% block "head" %}

<!-- HTML Meta Tags -->
<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://codedump.ch/{{page.url}}">
<meta property="og:type" content="website">
<meta property="og:title" content="
      {{ pageTitle }} -
      {{ title }}
    ">
<meta property="og:description" content="{{ description }}">
{% if previewImage %}
<meta property="og:image" content="">
{% endif %}

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="codedump.ch">
<meta property="twitter:url" content="https://codedump.ch/{{page.url}}">
<meta name="twitter:title" content="
      {{ pageTitle }} -
      {{ title }}
    ">
<meta name="twitter:description" content="{{ description }}">
{% if previewImage %}
<meta name="twitter:image" content="">
{% endif %}

{% endblock %}
