---
title: Home
pagination:
  data: collections.blog
  size: 10
  reverse: true
  alias: posts
---
{% layout 'layout' %}
{% block content %}
<h1><s>code</s>dump.ch</h1>

<h2>This is where I collect things that interest and inspire me. Still figuring this out.</h2>

{% for post in posts %}
  <section>
    <div class="title">
      <h3>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <span class="date">{{ post.date | postDate }}</span>
    </div>

    {% include 'taglist', tags: post.data.tags %}

    <div>
      {{ post.content }}
    </div>
  </section>
{% endfor %}

<ol class="pagination">
  {%- for pageEntry in pagination.pages %}
    <li>
      <a
        href="{{ pagination.hrefs[ forloop.index0 ] }}"
        {% if page.url == pagination.hrefs[forloop.index0] %}
          aria-current="page"
        {% endif %}
      >
        {{- forloop.index -}}
      </a>
    </li>
  {%- endfor %}
</ol>

{% endblock %}
